* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    height: 100vh;
    width: 100vw;
}

header {
    position: static;
    display: flex;
    align-items: center;



}

.header-img {
    height: 150px;
    margin-left: 92%;
    margin-top: -4%;
}


header a {
    font-family: "Orbitron", sans-serif;
    font-size: 150%;
    padding: 10px;
    color: blue;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 2%;
}

header a:hover {
    color: rgb(170, 3, 3);
    font-size: 160%;
    transition: 0.5s ease-in-out;

}

header h1 {
    font-family: "Bitcount Grid Double Ink", system-ui;
    margin-left: 13%;
    font-size: 300%;
    color: rgb(38, 202, 207);

}


.caixa-img {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.caixa-img img {
    height: 100vh;
    width: 100vw;

}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(12, 12, 12, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(22, 22, 22, 0.99) 85%);
    position: fixed;
    top: 0;

}

.mascara2 {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(12, 12, 12, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(22, 22, 22, 0.99) 85%);
    position: fixed;
    top: 0;
    visibility: hidden;
}

button:hover {
    color: rgb(235, 17, 17);
    font-size: 150%;
    transition: 0.5s ease-in-out;


}

.botao {
    position: static;
    margin-left: 42%;
}

.botao-contato {
    font-family: "Orbitron", sans-serif;
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.39);
    font-size: 150%;
    color: blue;
    border-radius: 10px;
    border: none;
    padding: 1%;
    border: none;
    cursor: pointer;
}

.botao-form {
    font-family: "Orbitron", sans-serif;
    display: flex;
    align-items: center;
    margin: 10%;
    background-color: rgba(0, 0, 0, 0.39);
    font-size: 150%;
    color: blue;
    border-radius: 10px;
    border: none;
    padding: 6%;
    border: none;
    cursor: pointer;

}

.text {
    font-family: "Orbitron", sans-serif;
    display: flex;
    align-items: center;
    font-size: 150%;
    color: rgb(139, 34, 104);
    gap: 15%;
    background-color: rgba(0, 0, 0, 0.493);
    letter-spacing: 3px;
}

.text p {
    margin: 3%
}


h2 {
    position: sticky;
    margin-left: 39%;
    align-items: center;
    font-size: 200%;
    font-family: "Bitcount Grid Double Ink", system-ui;
    color: rgb(143, 15, 132);
}


.caixa-rede {

    position: static;
    margin-left: 90%;
    margin-top: 0%;
    cursor: pointer;


}


.insta {

    height: 70px;

}

.insta:hover {

    transform: scale(1.2);
}

.wpp {

    height: 70px;

}

.wpp:hover {

    transform: scale(1.2);
}

.form-contato {
    background-color: rgba(7, 5, 112, 0.336);
    display: flex;
    flex-direction: column;
    position: fixed;
    Top: 20%;
    right: 42%;
    padding: 1%;
    border-radius: 5px;
    gap: 20px;
    transition: left 1s ease-in-out;
    visibility: hidden;


}

input {

    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 5px;
    outline-color: rgb(255, 0, 0);
}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 5px;
    outline-color: rgb(255, 0, 0);

}






/* Estilização "sobre - devfront" */

.minha-foto {
    margin-left: 7%;
    border-radius: 500px;
    height: 500px;

}

.minha-foto:hover {
    transform: scale(1.2);
    transition: ease-in-out 2s;

}


#texto-sobre {
    color: rgb(139, 34, 104);
    font-size: 150%;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 3px;

}

#texto-sobre:hover {
    transform: scale(1.1);
    transition: 3s;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 6, 6);
    border-radius: 30px;
    padding: 10px;

}

.main-sobre {
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
    padding: 4%;
    gap: 20%;


}

#saber-mais {
    font-family: "Orbitron", sans-serif;
    position: relative;
    background-color: rgba(0, 0, 0, 0.418);
    font-size: 150%;
    padding: 10px;
    color: rgb(139, 34, 104);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    left: 45%;
    top: 5%;
}

#saber-mais:hover {
    color: rgb(39, 17, 235);
    font-size: 160%;
    transition: 1s ease-in-out;



}




/* estilização protfolio */

.main-portfolio {
    margin-left: 5%;
    margin-top: 7%;
    display: flex;
    gap: 15%;

}

.h1-portfolio {
    margin-left: 22%;
}

.exemplo-portfolio {
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    text-align: center;
    gap: 20px;
    background-color: rgba(39, 17, 235, 0.274);
    width: 35%;
    border: none;
    border-radius: 50px;

}

.exemplo-portfolio a {

    cursor: pointer;
}

.exemplo-portfolio:hover {

    transform: scale(1.1);
    transition: ease-in-out 2s;

}


.exemplo-portfolio img {
    margin-top: 5%;
    height: 300px;
    width: 300px;
    border-radius: 100px;
}


.exemplo-portfolio h3 {
    color: rgb(139, 34, 104);
    font-size: 20px;
    margin-bottom: 3%;

}

.text-port {
    opacity: 0;
    transition: opacity 0.5s;

}

.exemplo-portfolio:hover .text-port {
    opacity: 1;
}

.exemplo-portfolio2 {
    font-family: "Orbitron", sans-serif;
    font-size: 12px;
    color: rgb(139, 34, 104);
    gap: 20px;
    background-color: rgba(39, 17, 235, 0.274);
    width: 35%;
    padding: 10%;
    border: none;
    border-radius: 50px;
}

.exemplo-portfolio2:hover {

    transform: scale(1.1);
    transition: ease-in-out 2s;

}

.exemplo-portfolio2 h3 {
    margin-top: 30%;
}


/* responsividade */





@media screen and (max-width: 1390px) {

    .header-img {
        margin-left: 89%;
        margin-top: -6%;
    }

    h2 {
        margin-left: 37%;
        font-size: 150%;

    }

    .text p {

        margin-left: 1%;
        font-size: 70%;
    }

    header a {
        font-size: 120%;
        margin-left: 0;
    }

    .botao {

        margin-left: 42%;
        margin-top: 5%;

    }

    .form-contato {
        right: 39%;
    }
}

@media screen and (max-width: 900px) {

    body {
        height: 100vh;
        width: 100vw;

    }

    .text p {
        display: none;
    }

    #texto-sobre {
        margin-top: 10%;
        margin-left: 5%;
        font-size: 150%;

    }

    .main-sobre {
        flex-direction: column;
    }

    #saber-mais {
        top: 2%;
        left: 30%;
    }

    .minha-foto {
        height: 300px;
    }

    .minha-foto:hover {
        transform: none;
        transition: none;


    }

    h1 {
        display: none;
    }

    .header-img {
        display: none;
    }

    header {
        margin-left: 3%;

    }


    h2 {
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
    }


    .text img {
        width: 90%;
        margin-top: 15%;
        margin-left: 4%;

    }

    .caixa-rede {
        margin-left: 70%;
        margin-top: 15%;

    }

    .botao {
        margin-left: 25%;
        margin-top: 20%;
    }

    .form-contato {
        right: 15%;
    }

    .insta {
        height: 50px;
    }

    .wpp {
        height: 50px;
    }

    .main-portfolio {
        margin-left: 0;
        margin-right: 4%;
        gap: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30%;
    }

    .exemplo-portfolio img {
        width: 100PX;
        height: 100PX;

    }
    .exemplo-portfolio:hover{
        transform: none;
        transition: none;
    }

    .exemplo-portfolio h3 {
        margin-left: 1%;
        text-align: center;
        font-size: 15px;
    }
    .exemplo-portfolio{
        gap: 30px;
        width: 70%;
    }

    .exemplo-portfolio2{
        margin-top: 30%;
        bottom: 0;
        gap: 30px;
        width: 70%;
        
    }
    .exemplo-portfolio2 h3{
        margin-top: 0;
    }

    .header-portfolio{
        margin-left: 15%;
    }
.text-port{
    opacity: 1;
}
}